	@font-face { font-family: Egyedi; src: url('./app/akaDora.ttf'); } 
body {
	font-family: Egyedi;
	background-image: url("./app/candlesbackground.jpg");
}
.tekercs {
	background-image: url("./app/tekercs2.png");
  background-size: 40vw 7.6vw;
}
.note {
	  background-size: 500px 628px;
  background-image: url("./app/papir2.png");
}