.note-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1500;
}

.note-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0, 0.4);
}

.note {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 628px;

  float: left;
}

p{
  font-family: "Egyedi";
  font-size: 30px;
  padding: 0 0 0 50px;
  /*white-space: nowrap;*/
  /*overflow: hidden;*/
  width: 400px;
  /*animation: type 4s steps(60, end);*/
  height: 360px;
  overflow: auto;
  margin-top: 100px;
}

@keyframes type{
  from { width: 0;}
}

.close {
	position: absolute;
    right: 70px;
    bottom: 100px;
    font-size: 25px;
}

.play {
	position: absolute;
    left: 70px;
    bottom: 100px;
    font-size: 25px;
}